@font-face {
    font-family: 'brandon-bold'; /*a name to be used later*/
    src: url('fonts/Brandon_bld.otf'); /*URL to font*/
}

@font-face {
    font-family: 'brandon-light'; /*a name to be used later*/
    src: url('fonts/Brandon_light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'helvetica-neue'; /*a name to be used later*/
    src: url('fonts/HelveticaNeueLTPro-Md.otf'); /*URL to font*/
}

@font-face {
    font-family: 'sourcesanspro_re'; /*a name to be used later*/
    src: url('ProximaNovaReg.otf'); /*URL to font*/
}

.thumbnail {
    position: relative;
}

 .top .fourSentence {
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    font-family: 'brandon-light';
    width: 100%;
     background-color: yellow;
}

.intro text-center {
    font-family: 'sourcesanspro_re';
    
}
.whitebackground .row .col-md-7 > p{
	font-family: 'sourcesanspro_re';
	
}
